
.idea
account_info.txt
minikube-darwin-arm64
venv
*.tgz
*.hcl
*.backup
*.tfstate
**/**/.terraform/
**/**/.gitattributes/
/Helm/helms_artifacts/*
/Helm/helms_artifacts/index.yaml
/terraform/gcp-account.json
.terraform/
.terragrunt-cache/
*.log
*.tmp
*terraform.tfstate.d/
/Helm/helms_artifacts/
/Helm/bookchart/charts/chartpostgress-3.0.0.tgz
/Helm/employeechart/charts/dynamodbchart-3.0.0.tgz
/Helm/chartnginx/charts/employeechart-3.0.0.tgz
